/**
 * Based off the Bitbucket Solarized Dark theme from https://userstyles.org/styles/138993/bitbucket-solarized-dark
 */

/* General styling */
body, .ac-content, .aui-page-header {
    color: #91a1a1;
    background-color:#002b36 !important
}
#footer, #footer-logo, #footer .footer-body {
	background-color:#002b36 !important;
}

/* Left control panel */
.flSDMU {
    background-color:#00313d !important;
}

/* Right control panel */
.css-1loow23, .css-rvibzy {
    background-color:#00313d !important;
}

/* Right control panel headers */
.css-1f7w3s2 {
    background-color:#98e9fde8;
}

/* Body center column text */
.iEDZNb, .ffIPcC, .css-1lfc5q {
    color: #98e9fde8;
}

/* Code blocks */
code, pre {
    background-color: rgba(0, 23, 23, .84) !important;
}

/* Source code viewer and editor */
.monaco-editor, .view-lines, .mtk1, .margin-view-overlays, .line-numbers, .gutter, .add-line-comment {
    background-color: rgba(0, 23, 23, 1.0) !important;
    color: #78A4D0;
}

.monaco-editor .line-numbers {
    background-color: rgba(0, 23, 23, 1.0) !important;
    border:0px;
}

/* Center column directory tree dropdown */
.css-14rqsll {
    color: #98e9fde8;
}

body.adg3 .filter-label {
    color: #78A4D0;
}

/* Issues page headings */
body.adg3 h1 {
    color: #78A4D0;
}

#issues input {
    color: #78A4D0;
}

/* All headings headings */
h1 {
    color: #78A4D0 !important;
}


.aui-badge,
.RepoOverviewWidget__root, .RepoOverviewWidget__widget {
    color: #91a1a1;
}
h1, h2, h3, h4, h5, h6 {
	color:#93a1a1;
}

#repo-content .view-pullrequest section.main>h1 {
    border-color:#586e75 !important;
}

form.aui .aui-select2-container, form.aui .multi-select, form.aui .password, form.aui .select, form.aui .text, form.aui .textarea, form.aui .upfile, .file-source-container .toolbar, .filter-box {
    background-color:#073642;
	color:#93a1a1;
    border-color:#586e75 !important;
}

.file-source-container .diff-note, .file-source-container .file-markup, .file-source-container .file-source {
    border-color:#586e75
}

.highlighttable td.annotations, .highlighttable td.linenos {
    background:none;
    border-right:1px solid #93a1a1
}

.aui-dropdown2.aui-style-default {
    background-color:#073642;
	color:#93a1a1;
}
.aui-dropdown2.aui-style-default:hover .aui-dropdown2-checkbox, .aui-dropdown2.aui-style-default:hover .aui-dropdown2-radio, .aui-dropdown2.aui-style-default:hover a {
 	background-color:rgba(0,0,0,0);
    border-color:#586e75 !important;
}

input[type=email], input[type=password], input[type=text], input[type=url], input[type=search], textarea {
    background:none !important
}

.skipped-container .ellipsis {
	color:#586e75;
}

.aui-page-panel-inner, .aui-page-panel-inner h1, .aui-page-panel-inner dt, #repo-content, .participants li {
    border-color:#586e75
}

/* Source code */
.diffract pre,
.udiff-line .source {
	font-family: Consolas,Menlo,"Liberation Mono",Courier,monospace;
	font-size: 11px;
	background-color: #000 !important;
	color: #eee !important;
	border-color: #000 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/* Side-by-side view area padding background */
.fancybox-skin {
	background-color: #000;
}

/* Side-by-side changed code area */
.diffract .change {
	border-color: #111 !important;
	background-color: #111 !important;
}

/* Added/changed code */
.diffract ins,
.refract-container .addition pre.source {
	background-color: #222822 !important;
	border-color: #222822;
}

/* Added/changed code highlight */
.refract-container .addition pre.source ins {
	border-color: #344134 !important;
	background-color: #344134 !important;
}

/* Deleted and added/changed code */
.diffract del,
.refract-container .deletion pre.source,
.diffract ins,
.refract-container .addition pre.source {
	margin: 0;
	padding-top: 2px;
}

/* Deleted code */
.diffract del,
.refract-container .deletion pre.source {
	background-color: #2F1818 !important;
	border-color: #2F1818;
}

/* Deleted code highlight */
.refract-container .deletion pre.source del {
	background-color: #4A1A1A !important;
}

/* Diff block start */
.diffract pre.start,
.diffract-sbsdiff pre.start {
	border-top: 1px solid #444 !important;
}

/* Diff block end */
.diffract pre.end::after,
.diffract-sbsdiff pre.end::after {
	content: "";
	border-top: 1px solid #444 !important;
	padding-left: 100%;
}

/* Side-by-side divider */
.segment-pane {
	background-color: #000 !important;
}

/* Code break area */
.skipped-container .first,
.skipped-container .skipped-middle,
.skipped-container .skipped-bottom {
	color: #333 !important;
	background-color: #002b36 !important;
}
.skipped-container:after,
.ellipsis {
	background-color: #002b36 !important;
	border-color: #002b36 !important;
	box-shadow: 0 0 0 2px #333 !important;
}
.ellipsis:before,
.ellipsis:after {
	background-color: #002b36 !important;
	border-color: #002b36 !important;
	box-shadow: 0 0 0 2px #333 !important;
}
.skipped-middle:before {
	display: none !important;
}

/* Line number area */
.line-numbers,
.gutter .add-line-comment {
	background-color: #111 !important;
	color: #777;
	border: 1px solid #111;
}

/* Code comment thread container */
.comment-thread-container {
	background-color: #111 !important;
	border-color: #333 !important;
}

/* Code comment thread comment */
.comment-thread-container .comment,
.comment-thread-container .comments-list,
.comments-list .comment .author-lozenge {
	background-color: #002b36 !important;
	border-color: #333 !important;
}

/* Diff container */
.tabs-pane,
.diff-container .heading,
.diff-container .refract-container,
section h1 {
	border-color: #586e75 !important;
}

/* Main page area */
.aui-page-panel {
	background-color: #002b36 !important;
	color: #ddd !important;
}

/* Links */
a {
	color: #78A4D0 !important;
}

/* Left sidebar */
.aui-sidebar-wrapper {
	background-color: #073642 !important;
	color: #ddd !important;
	border-color: #586e75 !important;
}
.aui-nav-selected a {
	background-color: #073642 !important;
}
.aui-nav-vertical>li>a:focus, .aui-nav-vertical>li>a:hover, .aui-navgroup-vertical .aui-nav>li>a:focus, .aui-navgroup-vertical .aui-nav>li>a:hover {
    background:#586e75;
    color:White
}
.aui-sidebar .aui-nav>li>.aui-nav-item>.aui-icon, .aui-sidebar-submenu .aui-nav>li>.aui-nav-item>.aui-icon{
	color:#93a1a1 !important;
}
.aui-sidebar .aui-sidebar-footer, .aui-sidebar-submenu .aui-sidebar-footer,.aui-sidebar-submenu[aria-expanded=false] .aui-sidebar-group.aui-sidebar-group-actions~.aui-sidebar-group-tier-one, .aui-sidebar[aria-expanded=false] .aui-sidebar-group.aui-sidebar-group-actions~.aui-sidebar-group-tier-one {
    border-color:#586e75;
}

/* Dialogs */
.aui-dialog {
    border-color:#657b83;
}

.aui-inline-dialog .aui-inline-dialog-contents, .aui-inline-dialog .contents, aui-inline-dialog .aui-inline-dialog-contents, aui-inline-dialog .contents {
	background-color: #002b36 !important;
    border: 1px solid #93a1a1;
}
.dialog-components .dialog-title, .dialog-button-panel {
    background-color:#002b36;
    color:#93a1a1 !important;
    border-color:#586e75 !important;
}

.tabbed-filter-widget .tabbed-filter {
	background-color: #002b36 !important;
    border: 1px solid #93a1a1;
}

.aui-dialog .dialog-page-body {
	background-color: #073642;
}

/* Page right side container */
.aui-page-panel-inner,
.aui-page-panel-inner h1,
.aui-page-panel-inner dt,
#repo-content,
.participants li {
	background-color: #002b36 !important;
	color: #ddd !important;
	border-color: #002b36;
}

/* Branch info */
.compare-widget-container,
.compare-widget-container .compare-widget-item {
	background-color: #002b36 !important;
	color: #ddd !important;
	border-color: #586e75 !important;
}
.compare-widget-container .compare-widget-item dd {
	background-color: #073642 !important;
	color: #ddd !important;
	border-color: #586e75 !important;
}

/* Tabs */
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item {
	background-color: #073642 !important;
}

/* Tab items */
.tabs-menu .menu-item a {
	background-color: #073642 !important;
	color: #ddd !important;
	border-color: #444 !important;
	border-bottom-color: #444 !important;
}

/* Active tab */
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab,
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a {
	background-color: #002b36 !important;
	color: #ddd !important;
	border-bottom: 1px solid #002b36 !important;
}

/* Buttons */
.aui-button,
.aui-button a,
.aui-buttons button span,
.aui-buttons a span,
.aui-buttons .approve {
	background-color: #073642 !important;
	color: #eee8d5 !important;
    border-color:#586e75 !important
}
.aui-icon-dropdown {
    color: #eee8d5 !important;
    border-color:rgba(0,0,0,0);
}

/* Approvals indicator */
.approvals {
	background-color: #073642 !important;
	border-color: #444 !important;
}
.approvals:before,
.approvals:after {
	border-right-color: #444 !important;
}

/* Primary button */
.aui-button.aui-button-primary,
.aui-button.aui-button-primary span {
	background-color: #3572b0 !important;
}

/* Disabled button */
.aui-buttons span {
	background-color: #002b36 !important;
	color: #555 !important;
}

/* Reviewer avatar */
.aui-avatar-inner img {
	border: 1px solid #073642 !important;
}

/* Comments indicator */
.count-badge,
.count-badge span,
.count-badge a {
	background: #002b36 !important;
	color: #ddd !important;
}

/* Comment editor */
.markItUpContainer,
.markItUpHeader
{
	background-color: #073642 !important;
	border-color: #444;
}

/* Comment editor toolbar */
.markItUp li, li.markItUpButton a {
	background-color: #444 !important;
	border-color: #073642 !important;
}

/* Comment editor edit area */
.markItUpContainer textarea,
.bb-mention-input {
	background-color: #000 !important;
	border-color: #444;
	color: #ccc !important;
}

/* Wiki content and sidebar headers */
.wiki-content h2,
.sidebar h2 {
	color: #ddd !important;
}

/* Newsfeed link */
.newsfeed a {
	color: #bbb !important;
}

/* Wiki content code block, git url */
.wiki-content pre,
.aui-buttons input {
	background-color: #000 !important;
	border-color: #444;
	color: #ccc !important;
}

/* Pull requests list */
#list-pullrequests tbody tr {
	background-color: #073642 !important;
	color: #ddd !important;
	border-color: #444 !important;
}

/* Source code overview */
.aui-table-interactive tr,
table.bb-list .bb-list-item--highlight,
.compare-choices .branch-badge,
.commit-labels dd {
	background-color: #073642 !important;
	color: #ddd !important;
	border-color: #444 !important;
}
.commit-labels dd {
    background-color: #002b36 !important;
}

/* Source code view */
#source-view pre {
	background-color: #002b36 !important;
	border-color: #444;
	/*color: #ddd !important;	*/
}

/* Header */
.aui-header {
	background: #073642;
}

/* Footer */
#footer,
#footer-logo,
#footer .footer-body {
	background-color: #222 !important;
	color: #ddd !important;
}

.paged-table tr.focused {
	background-color: #073642 !important;
}
table.aui>tbody>tr, table.aui>tfoot>tr {
	background-color: #002b36 !important;
    border-bottom: 1px solid #586e75;
}